/*? global clearing */

/* <!-- Text selection color --> */
::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: #ccff00;
}

::selection {
  color: black;
  background: #ccff00;
}

/*lenis -- IMPORTANT*/
html.lenis {
  height: auto;
}

/*loader -- IMPORTANT*/
.loader {
  cursor: wait !important;
}

/*marquee -- IMPORTANT*/

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100%));
  }
}

.scroll {
  animation: scroll 10s linear infinite;
}

/* Customm css */
@font-face {
  font-family: "MolexShoora-Bold";
  src: url("src/assets/font/MolexShoora-Bold.otf") format("opentype");
}

.MolexShoora-Bold {
  font-family: "MolexShoora-Bold";
}

.green-custome-1 {
  color: var(--green-custome-1);
}

.green-custome-2 {
  color: var(--green-custome-2);
}

.green-custome-3 {
  color: var(--green-custome-3);
}

.green-custome-4 {
  color: var(--green-custome-4);
}

.green-custome-5 {
  color: var(--green-custome-5);
}

.blue-custome-1 {
  color: var(--blue-custome-1);
}

.blue-custome-2 {
  color: var(--blue-custome-2);
}

.blue-custome-3 {
  color: var(--blue-custome-3);
}

.blue-custome-4 {
  color: var(--blue-custome-4);
}

.green-custome-1 {
  color: var(--green-custome-1);
}

.green-custome-1 {
  color: var(--green-custome-2);
}

.green-custome-1 {
  color: var(--green-custome-1);
}

.green-custome-1 {
  color: var(--green-custome-1);
}

.red-custome-1 {
  color: var(--red-custome-1);
}

.red-custome-2 {
  color: var(--red-custome-2);
}

.red-custome-3 {
  color: var(--red-custome-3);
}

.red-custome-4 {
  background-color: var(--red-custome-4);
}

.midnight-sea {
  background-color: var(--midnight-sea);
}

.coal {
  background-color: var(--coal);
}

.night-forest {
  background-color: var(--night-forest);
}

.burn-mocca {
  background-color: var(--burn-mocca);
}

.night {
  background-color: var(--night);
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #f7f7f7;
  --dark: #222222;
  --gap-primary: 16px;
  --gap-secondary: 8px;
  --white-custome-1: #f1faee;
  --blue-custome-1: rgb(0, 112, 209);
  --blue-custome-2: #00ffff;
  --blue-custome-3: #87ceeb;
  --blue-custome-4: rgb(125, 249, 255);
  --red-custome-1: #db202c;
  --red-custome-2: #ff4136;
  --red-custome-3: #ff7f7f;
  --red-custome-4: #ff0033;
  --green-custome-1: #1ed760;
  --green-custome-2: rgb(204, 255, 0);
  --green-custome-3: #2ecc40;
  --green-custome-4: #98fb98;
  --green-custome-5: rgb(0, 255, 0);
  --midnight-sea: #051118;
  --burn-mocca: #130e09;
  --night-forest: #111b12;
  --night: #111111;
  --coal: #282828;
  --color-white: hsl(0, 0%, 95%);
  --color-white-shade: #e6e6e6;
  --color-black: hsl(0, 0%, 5%);
  --color-black-shade: #737373;
  --color-bg: hsl(0, 0%, 92%);
  --color-img-wrapper-bg: hsl(0, 0%, 60%);

  --section-width: min(100%, 1440px);
  --row-gap: 2rem;
  --p-inline: 1.5rem;
  --p-inline-hover: 2.5rem;
  --p-block: 2rem;
  --p-block-lg: 4rem;
  --transition-time: 0.25s;

  --fs-sm: clamp(1rem, (1vw + 0.5rem), 2.5rem);
  --fs-lg: clamp(2rem, (2vw + 2rem), 6rem);
  --border-radius: 0.75rem;
}

.customWhite {
  color: var(--white-custome-1);
}

main {
}

body {
  background-color: var(--color-bg);
  
  font-family:
    monospace system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Noto Sans,
    Ubuntu,
    Cantarell,
    Helvetica Neue,
    Oxygen,
    Fira Sans,
    Droid Sans,
    sans-serif;
  

  /* Diperlukan agar halaman dapat digulir */
}

.loader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  pointer-events: none;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
}

.loader-imgs{
  width: 150%;
  position:absolute;
  top: 50%;
  left: 50%;
  display: flex;
  gap: 50px;
  transform: translate(-50%, -50%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.img{
  position: relative;
  flex: 1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  overflow: hidden;
  background-color: var(--dark);
}

.navlink a:hover {
  color: var(--green-custome-2);
}

.section-hero {
  background-image: url(/src/assets/image/grid.png);
}

@media screen and (max-width: 600px) {
  nav a:not(:first-child) {
    display: none;
  }

  nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  nav.responsive {
    position: relative;
  }

  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
  -webkit-animation: marquee 10s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 10s linear infinite;
  -webkit-animation: marquee2 10s linear infinite;
}

.animate-marquee3 {
  animation: marquee3 15s linear infinite;
  -webkit-animation: marquee3 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes marquee3 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  40% {
    opacity: 0;
    transform: translateY(-80%);
  }

  80% {
    opacity: 1;
    transform: translateY(-40%);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes slideDownThroughBorder {
  0% {
    transform: translateY(-100%);
  }

  40% {
    transform: translateY(-80%);
  }

  80% {
    transform: translateY(-40%);
  }

  100% {
    transform: translateY(40%);
  }
}

.animate-arrow {
  animation: scroll-down 2s ease-in-out infinite;
  -webkit-animation: scroll-down 2s ease-in-out infinite;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }

  30% {
    opacity: 1;
    transform: translateY(0);
  }

  60% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    top: 90%;
    opacity: 0;
    transform: translateY(20);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20);
    -ms-transform: translateY(20);
    -o-transform: translateY(20);
  }
}

.about-animation {
  opacity: 0;
  position: relative;
  bottom: -100px;
  /*Startpositionbelowthecontainer*/
  animation: slideUp 1s ease forwards;
  -webkit-animation: slideUp 1s ease forwards;
}

.about-animation:nth-child(1) {
  animation-delay: 0.1s;
  /* Delay for the first letter */
}

.about-animation:nth-child(2) {
  animation-delay: 0.15s;
  /* Delay for the second letter */
}

.about-animation:nth-child(3) {
  animation-delay: 0.1s;
  /* Delay for the third letter */
}

.about-animation:nth-child(4) {
  animation-delay: 0.2s;
  /* Delay for the fourth letter */
}

.about-animation:nth-child(5) {
  animation-delay: 0.1s;
  /* Delay for the fifth letter */
}

@keyframes slideUp {
  from {
    opacity: 0;
    bottom: -100px;
    /* Start position */
  }

  to {
    opacity: 1;
    bottom: 0;
    /* End position (center of the container) */
  }
}

.about-animation-gif {
  opacity: 0;
  position: relative;
  animation: slide-in-right 3s ease forwards;
  -webkit-animation: slide-in-right 3s ease forwards;
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.animate-text {
  position: absolute;
  padding: 0 40px;
  height: 60px;
  background-color: cadetblue;
  overflow: hidden;
}

.line {
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
}

.line:first-child {
  animation: anim 12 infinite;
  -webkit-animation: anim 12 infinite;
}

@keyframes anim {
  0% {
    margin-top: 0;
  }
  16% {
    margin-top: -60px;
  }
  33% {
    margin-top: -120px;
  }
  50% {
    margin-top: -180px;
  }
  66% {
    margin-top: -120px;
  }
  82% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0;
  }
}

.home-text {
  display: flex;
  align-items: center;
}

.home-text h1 {
  color: #ffffff;
  line-height: 48px;
}

.home-text p {
  margin: 0;
  overflow: hidden;
}

.home-text p span {
  line-height: 48px;
  display: none;
}

.home-text p span.text-in {
  display: block;
  animation: textIn 0.5s ease;
}

.home-text p span.text-out {
  animation: textOut 0.5s ease;
}

@keyframes textIn {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes textOut {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

#about-content-right {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpAnimation 1.5s ease forwards;
  -webkit-animation: fadeUpAnimation 1.5s ease forwards;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  animation-delay: 1s;
}

@keyframes fadeUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Marquee 2 animate */

.marquee2-content.scroll {
  grid-column-gap: 0rem;
  flex: none;
  justify-content: center;
  align-items: center;
}

.marquee2-custom-text {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Noto Sans,
    Ubuntu,
    Cantarell,
    Helvetica Neue,
    Oxygen,
    Fira Sans,
    Droid Sans,
    sans-serif;
}

/* .skill-header.border-bottom {
  width: 100%;
  height: auto;
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  background-color: #fff;
  border-bottom: 0.0625rem solid #000;
  padding: 0 0 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  overflow: hidden;
} */

.scroll {
  overflow: visible;
}

/* Animasi untuk marquee */
.scroller1[data-animated="true"] {
  overflow: hidden;
}

.scroller1[data-animated="true"] .scroller__inner1 {
  width: max-content;
  flex-wrap: nowrap;
  animation: scrolling linear;
  animation-timeline: scroll(root);
}

.scroller1[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller1[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller1[data-speed="fast"] {
  --_animation-duration: 10s;
}

.scroller1[data-speed="superfast"] {
  --_animation-duration: 1s;
}

.scroller1[data-speed="slow"] {
  --_animation-duration: 90s;
}

@keyframes scrolling {
  to {
    transform: translate(calc(-40% - 0.5rem));
    -webkit-transform: translate(calc(-40% - 0.5rem));
    -moz-transform: translate(calc(-40% - 0.5rem));
    -ms-transform: translate(calc(-40% - 0.5rem));
    -o-transform: translate(calc(-40% - 0.5rem));
  }
}

.scroller2 {
  max-width: auto;
}

.scroller__inner2 {
  
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller2[data-animated="true"] {
  overflow: hidden;
 
}

.scroller2[data-animated="true"] .scroller__inner2 {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll2 var(--_animation-duration, 40s)    var(--_animation-direction, forwards) linear infinite;
  -webkit-animation: scroll2 var(--_animation-duration, 40s)    var(--_animation-direction, forwards) linear infinite;
}

.scroller2[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller2[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller2[data-speed="fast"] {
  --_animation-duration: 10s;
}

.scroller2[data-speed="superfast"] {
  --_animation-duration: 5s;
}

.scroller2[data-speed="slow"] {
  --_animation-duration: 20s;
}

@keyframes scroll2 {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* Skill Infornmation */

/* .skill-header-information {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
  grid-auto-columns: 1fr;
  margin-top: 2rem;
  display: grid;
}

.general-skill-information {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  display: flex;
} */

/* Project table */

.project-table-wrapper {
  z-index: 100;
  width: 100%;
  grid-column-gap: 1rem;
  background-color: #fff;
  flex-direction: column;
  grid-template-rows: 2rem 2rem 2rem 2rem;
  grid-template-columns: 0.25fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  margin-top: 4rem;
  display: flex;
  position: static;
}

/* .collection-item:hover {
  transition: ease-in-out 350ms;
  -webkit-transition: ease-in-out 350ms;
  -moz-transition: ease-in-out 350ms;
  -ms-transition: ease-in-out 350ms;
  -o-transition: ease-in-out 350ms;
} */

.icon-src {
  transition: src 1.3s ease-in-out;
  -webkit-transition: src 1.3s ease-in-out;
  -moz-transition: src 1.3s ease-in-out;
  -ms-transition: src 1.3s ease-in-out;
  -o-transition: src 1.3s ease-in-out;
}

/* Section 4 */

.skill-sub-grid.first {
  grid-template-columns: 1fr 1fr;
}

.skill-card.card1 {
  background-image: url(/src/assets/image/siapKuliahMockups.png);
}
.skill-card.card2 {
  background-image: url(/src/assets/image/wizzMockups.png);
}
.skill-card.card3 {
  background-image: url(/src/assets/image/BengkelExpertD.png);
}

.skill-card.card4 {
  background-image: url(/src/assets/image/foodishMockup.png);
}
.skill-card.card5 {
  background-image: url(/src/assets/image/angkringanMockups.png);
}

.main-cta-row {
  background-color: var(--midnight-sea);
  background-image: linear-gradient(
      263deg,
      rgba(24, 24, 24, 0.72),
      rgba(0, 0, 0, 0) 85%
    ),
    url("/src/assets/svg-content/gridWhite.svg");
}

/* .card-content-overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
} */

/* .card-content-overlay.first-content {
  display: none;
  background-color: blue;
} */

.img-card {
  will-change: width;
  min-width: 20%;
  position: absolute;
}

/* New project item */

.project-gallery {
  width: 100%;
  min-height: 10dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: var(--row-gap);
  position: relative;
  overflow-x: hidden;
  

  & .section-header {
    width: var(--section-width);
    text-align: left;
    font-size: 16px;
    color: var(--color-black);
  }

  & .project-gallery__wrapper {
    /* width: var(--section-width); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.project {
  width: 100%;
  border-top: 1px solid var(--color-black);
  transition: padding-inline var(--transition-time) ease-in;

  & .project-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
    padding-block: var(--p-block-lg);
    

    & .project-title {
      font-size: 24px;
    }

    & .icon-title path{
      fill: white;
      stroke: black;
    }

    & .project-details path{
      fill: none;
    }

  }

  &:hover {
    padding-inline: var(--p-inline-hover);
    color: var(--color-white-shade);
    background-color: var(--midnight-sea);
    
    &:hover .icon-title {
      border-color: white;
    }

    &:hover .icon-title path{
      stroke: white;
      fill: none;
    }

    &:hover .project-details path{
      stroke: var(--color-black);
    }

    &:hover .project-details {
      border-color: var(--color-white);
      background-color: var(--color-white);
      color: var(--color-black);
    }
    
  }
}

.anim-project__img-wrapper {
  position: fixed;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  transform: scale(0) translateX(-100%) translateY(-100%);
  background-color: var(--color-img-wrapper-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 250px;
  border-radius: var(--border-radius);

  & .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: var(--row-gap);
    width: 300px;
    aspect-ratio: 16 / 9;
    overflow-y: hidden;

    & .anim-project__img {
      width: 300px;
      aspect-ratio: 16 / 9;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      & .anim-project__img-img {
        width: 400px;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: center;
        border-radius: var(--border-radius);
      }
    }
  }
}

.spacer {
  padding: 2rem 0 0 0;
  width: 100%;
}

.main-cta-row {
  clip-path: polygon(0% 100%, 20% 100%, 20% 0%, 0% 0%);
  opacity: 0;
}

.skill-card {
  clip-path: polygon(0% 100%, 20% 100%, 20% 0%, 0% 0%);
  opacity: 0;
}

.marquee3-custom-text {
  height: 0px;
}

.cursor-follower {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none; /* Agar tidak mengganggu interaksi dengan elemen lain */
  z-index: 999; /* Pastikan elemen ini berada di atas elemen lain */
  opacity: 0; /* Sembunyikan elemen saat tidak bergerak */
  transition: opacity 0.3s ease-out; /* Efek transisi opacity */
}

/* #wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
} */

.pill-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
  opacity: 0;
}

/* .content-left h1{
  font-size: 40px;
}

.content-left {
  row-gap: 16rem;
} */

.btn{
  
  transition: 0.8s;
}
.btn1{
  color: #051118;
}

.btn1:hover{
  color: #fff;
}

.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #051118;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1:hover::before,.btn2:hover::before{
  height: 180%;

}

.footer{
  opacity: 0;
}

